body {
    margin: 0;
    margin-top: 50px;
    font-family: serif;

}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background: #00ffff;
   
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 50px;
}

ul {
  text-align: center;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    color: white;
     
}


.fa {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

#hero .profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
}
#hero h1 {
    font-size: 3em;
    color: white;
}

#hero h3 {
    font-size: 1.5em;
    color: white;
}
#about {
  font size: 2.5;
  color: white;
}

#feedback {

  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.75)), url("images/feedback.jpg");;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: black;
}

#description {
  color: black;
}

#form-outer {
  background-color: white;
  margin: 0 auto;
  border-radius: 4px;
  width: 100%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
  color: white;
}

.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;

}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 55%;
  vertical-align: middle;
}

.input-field {
  height: 20px;
  width: 250px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

#userAge {
  width: 40px;
}



#submit {
  background-color: #59ace0;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}

.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;  
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}



#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("images/colors.jpg");
}

#about {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.75)), url("images/sunset.jpeg");
}



#contact {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.75)), url("images/contact.jpg");
}

